sentence-transformers==2.2.0   # for embeddings
langchain                      # main framework
flask                          # web app server
pypdf                          # PDF document loader
python-dotenv                  # load env variables
faiss-cpu                      # FAISS vector store (local)
langchain_community            # community integrations
langchain_experimental         # experimental modules
langchain-text-splitters
Pillow                         # PIL image library
transformers                   # HuggingFace models
accelerate                     # optimizations for HF models
huggingface-hub                # download/manage HF models
torch                          # deep learning framework
-e .